*{
    margin: 0;
    list-style: none;

}
html{
    margin: 0!important;
}
body{
    background-color: #eef3f9;
}
.headerTools{
    padding: 15px 0;
    background: black;
    font-weight: 400;
    font-size: 14px;
    box-shadow: 0 2px 2px #d8d8d8;
}
.headerToolsTime{
    color:white;
    float: left;
}
.headerToolsNav{
    float: right;
}
.headerTools-Nav{

}
.headerTools-Nav>ul{
    margin-bottom: 0;
}
.headerTools-Nav>ul>li{
    float: left;
    padding-left:20px;
}
.headerTools-Nav>ul>li>a{
    color:white;
    text-decoration: none;
}
.Tools_container{
    padding: 0;
}
.header{
    padding: 10px 0;
    background: white;
    box-shadow: 2px 5px 18px 0 rgba(64, 87, 191, 0.07);
}


.header_home_url:hover{
    text-decoration: none;
}
.header_logo>img{
    width: 50px;
    float: left;
}
.header_logo>span{
    padding-left: 10px;
    font-size: 20px;
    font-weight: 300;
    line-height: 48px;
    color: #5c5c5c;
}

.header_nav{
    float: right;
}
.headerNav{

}
.headerNav>ul>li{
    float: left;
    padding: 0 20px;
}
.headerNav>ul>li>a{
    color:black;
    font-weight: 200;
}
.header_container{
    padding: 0;
}
.navbar{
    padding: 10px 0;
}
.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}
.form-control{
    background: #fafafb;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: .312rem 2.25rem .312rem .625rem;
    width: 100%;
    border-radius: 0;
    font-size: .875rem;
    line-height: 1.25rem;
    outline: none;
}
.form-control:focus{
    outline: none;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 0 ;
    background: #fafafb;
}
.form-inline{
    background: black;
}
.form-submit{
    border: none;
    background: none;
    outline: none;
    color: #696969;
}

.form-submit:focus{

    outline: none;
}

.form-submit>i{
    color:white;
    font-size: 14px;
    padding: 4px;
}
.banner{
    margin-top: 20px;
    height: 700px;
    background-size: 100%!important;
    background-position: 0!important;
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 0;
}
.banner_content{
    height: 75%;
    padding: 0;
}
.banner_info{
    padding: 0;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.banner_info>img{
    width:100%;
    height:auto;
    transition: 1s;
    filter: grayscale(40%);
}
.banner_info>img:hover{
    width: 105%;
    height: auto;
    transition: .5s;
    filter: grayscale(0%);
}
.banner_title{
    position: absolute;
    color:white;
    bottom: 0;
    background: rgba(74, 74, 74, 0.51);
    width: 100%;
    padding: 20px;
    font-weight: 200;
    letter-spacing: 2px;
}
.search_header{
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    color:white;
    height: 200px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-size: 100%!important;
    background-position: 0!important;
}
.search_content{
    margin-top: 20px;
}

.search_screen{
    width: 100%;
    height: 320px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 2px 5px #d8d8d8;
}
.search_screen>img{
    width: 100%;
    height: auto;
    transition: .2s;
}
.search_screen>img:hover{
    width: 105%;
    height: auto;
    transition: .2s;
}
.search_page{
    position: absolute;
    bottom: 0;
    background: rgb(255, 255, 255);
    width: 100%;
}
.search_screen>a{
    position: absolute;
    bottom: 50px;
    font-size: 20px;
    padding: 20px;
    line-height: 35px;
    text-align: left;
    left: 0;
    color:white;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 1px;
}
.search_box{
    margin: 20px 0;

}

.search_meta{
    padding: 10px 15px;
    margin-bottom: 0;
    color:#748594;
    font-weight: 300;
    font-size: 14px;
}
.search_meta>i{
    padding: 0 5px;

}
.search_meta>a{
    color:#748594;
}
.search_more{
    float: right;
}
.search_more>i{
    padding: 0 5px;
}
.content{
    padding: 0;
}
.post_content{

}
.page_content_list{
    background: white;
    margin: 20px 0;
    height: 285px   ;
}
.content_page_list{
    padding: 0;
}

.post_list_screen{
    float: left;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0;
}
.post_list_screen>img{
    width: 100%;
    height: auto;

}
.post_list_screen>span{
    position: absolute;
    top:20px;
    left: 20px;
    color: #fff;
    background-color: rgba(39, 49, 73, .33);
    font-size: 12px;
    font-weight: 300;
    padding: 0.25rem 0.325rem;

}
.post_list_content{
    float: right;
    padding: 20px;
    height: 100%;
    position: relative;
}
.post_list_content>h2{
    line-height: 1.6;
    font-size: 1.45rem;

}
.post_list_content>h2>a{
    color:black;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.post_list_content_text{
    color: #404b69 !important;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.7;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}
.post_list_content>small{
    width: 100%;
    position: absolute;
    bottom: 20px;
    color: #404b69 !important;
}
.post_list_content>small>span>i{
    padding: 0 5px;
}
.post_list_content>small>span>a{
    color: #404b69 !important;
    text-decoration: none;
}
.post_list_content>small>span:last-child{
    position: absolute;
    right: 50px;
    color: #404b69 !important;
}
.paging{
    width: 100%;
    position: relative;
    margin: 40px 0;
}
.paging>a{
    background: #ffffff;
    padding: 7px 16px;
    margin-right: 10px;
    color:gray;
}
.paging>.current{
    background: grey;
    color:white;
}
.paging>a:last-child{
    position: absolute;
    right: 0;
    bottom: -10px;
    margin: 0;
}
.content_sidebar{
    margin: 20px 0;
    padding: 0 0 0 20px;
}
.side-widget{
    background: white;
    margin-bottom: 20px;
    overflow: auto;
}
.side-widget>h3{
    font-size: 18px;
    font-weight: 400;
    padding: 14px;
    background: #f9f9f9;
    margin-bottom: 0;
}
.side-widget>ul{
    padding: 0;
    margin-bottom: 0;
}
.side-widget>ul>li{
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 15px;
}
.side-widget>ul>li:last-child{
    border-bottom: 0;
}
.side-widget>ul>li>a{
    display: block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    color: #3e3e3e;
    padding: 5px 0;
    text-decoration: none;
}
.side-widget>ul>li>span{
    display: block;
    color:grey;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
}
.tagcloud{
    padding: 15px 12px;
}
.tagcloud>a{
    font-weight: 300    ;
    padding: 3px 8px;
    letter-spacing: 1px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px!important;
    text-decoration: none;
    border: .0625rem solid #e5e5e5;
    background-color: #fafafa;
    color: #767676;
    transition: .3s;
    display: inline-block;
    margin-bottom: 12px;
}
.tagcloud>a:hover{
    transition: .3s;
    border-color: #0092ee;
    color: #0092ee;
}

.row{
    margin: 0;
}
.footer{
    background: black;
}
.footer_content{
    color:white;
    padding: 30px 0;
}
.footer_content>.col-4{
    padding: 0;
}
.footer_info>h4{
    font-weight: 300;
    font-size: 18px;
}
.footer_info>span{
    display: block;
    width: 40px;
    height: 2px;
    background: white;
    margin: 15px 0;
}
.footer_info>p{
    font-size: 14px;
    color: #d1d1d1;
}
.footer_copy{
    color:white;
    font-weight: 200;
    font-size: 14px;
    padding:20px 0 30px;
    border-top: 1px solid #3f3f3f;
}
.footer_ico>a{
    color:white;
    font-size: 18px;
    padding-right: 10px;
}
.copy_content{
    float: left;
}
.copy_right{
    float: right;
}

.modal-dialog{
    margin: 10% auto;
}
.modal-title ,.modal-content ,.modal-body{
    color:black;
}
.modal-content{
    border-radius: 0;
}
.modal-body>img{
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 20px 10px;
}
.footer_nav{
    padding-left: 20px!important;
}
.footerNav>ul>li{
    list-style: disc;
    line-height: 16px;
    padding-bottom: 11px;
}
.footerNav>ul>li>a{
    font-size: 14px;
    color: #d1d1d1;
}
.footer_nav>h4{
    font-weight: 300;
    font-size: 18px;
}
.footer_nav>span{
    display: block;
    width: 40px;
    height: 2px;
    background: white;
    margin: 15px 0;
}
.banner_content_info{
    width: 100%;
    position: relative;
    height: 250px;

    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 23px;

    padding: 0 15px;
    display: block;
}
.banner_content_info>img{
    width: 100%;
    position: absolute;
    height: auto;

}
.banner_notice{
    display: block;
    text-align: center;
    color:white;
}
.banner_content_info>a{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    background: rgba(74, 74, 74, 0.51);
    font-weight: 200;
    letter-spacing: 1px;
    color:white;
    padding: 12px 10px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-decoration: none;
}
.col-fixed{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.page_content_max{
    height: 300px;
}
.post_list_text_num{
    color: #404b69 !important;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.9;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
}
.banner_content_main{
    padding: 0;
}
.banner_content_main>.row{
    padding: 0;
}

.search_form_content{
    text-align: center;
    position: relative;
}
.search_form_content>input{
    width: 100%;
    outline: none;
    height: 50px;
    border: none;
    text-indent: 1rem;
    font-size: 13px;
    font-weight: 300;
}
.search_form_content>button{
    border: none;
    background: none;
    position: absolute;
    right: 13px;
    top:13px;
    font-size: 15px;
    color:grey;
}
.custom-html-widget{
    padding: 7px 15px;
}
.custom-html-widget>img{
    width: 100%;
    padding: 10px 0;
}
.friends>.row{
    margin: 20px 0;
}
.friend_card{

    display: block;
    padding: 0 7px;


}
.friend_card>a{

    background: #f5f5f5;

    color:black;
    display: block;
    width: 100%;
    text-decoration: none;
    margin: 18px 0;
    transition: .3s;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.02);
}
.friend_card>a>span{
    display: block;
    padding: 20px;
}
.friend_card>a:hover{
    transition: .8s;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.15);
}
.page-links .main div:nth-child(5n+1) .card-header {
    background-color: #3498db;
}
.friends>.row>.friend_card:nth-child(5n+1)>a>span:first-child{
    background: #008eff;
}
.friends>.row>.friend_card:nth-child(5n+1)>a>span:nth-child(2){
    background: #008eff;
}
.friends>.row>.friend_card:nth-child(5n+2)>a>span:first-child{
    background: #1abc9c;
}
.friends>.row>.friend_card:nth-child(5n+2)>a>span:nth-child(2){
    background: #1abc9c;
}
.friends>.row>.friend_card:nth-child(5n+3)>a>span:first-child{
    background: #f1c40f;
}
.friends>.row>.friend_card:nth-child(5n+3)>a>span:nth-child(2){
    background: #f1c40f;
}
.friends>.row>.friend_card:nth-child(5n+4)>a>span:first-child{
    background: #dc3545;
}
.friends>.row>.friend_card:nth-child(5n+4)>a>span:nth-child(2){
    background: #dc3545;
}
.friends>.row>.friend_card:nth-child(5n+5)>a>span:first-child{
    background: #9b59b6;
}
.friends>.row>.friend_card:nth-child(5n+5)>a>span:nth-child(2){
    background: #9b59b6;
}
.friend_card>a>span:first-child{
    background: #008eff;
    border-radius:2px 2px  0 0;
    color:white;
    padding: 15px 20px 5px;
    font-size: 18px;
    font-weight: 400;
}
.friend_card>a>span:nth-child(2){
    padding: 0 20px 10px;
    color:white;
    background: #008eff;
    font-size: 14px;
    font-weight: 300;
}
.friend_card>a>span:nth-child(3){
    padding: 32px 20px;
    font-weight: 400;
    border-bottom: 1px solid rgba(216, 216, 216, 0.47);
    background-color: #f5f5f5;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-size: .875rem;
}
.friend_card>a>span:nth-child(4){
    border-radius:0 0 2px 2px;
    background-color: #f5f5f5;
    padding: 10px 20px;
}
.friend_card>a>span:nth-child(4)>img{
    width: 17px;
}
.tools{
    position: fixed;
    bottom: 70px;
    right: 80px;
}
.backTop{
    width: 50px;
    height: 50px;
    background: rgba(105, 105, 105, 0.41);
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
}
.backTop>i{
    color:white;
}
.single-content{
    margin: 20px 0;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

}

@media (max-width: 1600px) {
    .page_content_list{
        height: auto;
    }
    .post_list_screen>img {
        width: 150%;
        height: auto;
    }
    .post_list_screen{
        flex: 0 0 100%;
        max-width: 100%;
        height: 250px;
    }
    .post_list_content{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .post_list_content{
        height: 230px;
    }

    .banner{
        height: 566px;
    }
    .banner_info{

    }
    .banner_content_main{

    }
    .banner_content_info{
        height: 200px;
    }
    .post_list_text_num {
        color: #404b69 !important;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 1.7;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }
    .post_list_content_text{
        color: #404b69 !important;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 1.7;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }
    .search_box{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 1200px) {
    .content_page_list{
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .content_sidebar{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .banner{
        height: 400px;
    }
    .banner_content_info {
        height: 138px;
    }
    .banner_content_info>a {
        position: absolute;
        width: 100%;
        height: 40px;
        bottom: 0;
        background: rgba(74, 74, 74, 0.51);
        font-weight: 200;
        letter-spacing: 1px;
        color: white;
        padding: 10px 9px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        text-decoration: none;
    }
    .col-fixed {
        -ms-flex: 0 0 100%!important;
        flex: 0 0 100%!important;
        max-width: 100%!important;
    }
    .search_screen{
        height: 300px;
    }
    .friend_card{
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
@media (min-width: 1600px) {
    .container {
        max-width: 1540px;
    }

}


@media (max-width: 992px) {
    .headerNav>ul>li{
        float: none;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid rgba(216, 216, 216, 0.5);
    }
    .form-inline {
        background: none;
    }
    .headerNav>ul>li{

    }
    .form-inline .form-control{
        width: 100%;
        margin-top: 20px;
    }
    .form-submit{
        display: none;
    }
    .menu{
        padding: 0;
    }
    .banner_info{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .content_page_list{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .content_sidebar{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }
    .banner_content_main{
        display: none;
    }
    .search_box{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .search_screen{
        height: 350px;
    }
    .footer_content>.col-4{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .friend_card{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width:768px){
    .post_list_text_num {
        color: #404b69 !important;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 1.6;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
    .search_screen{
        height: 300px;
    }
    .footer_content>.col-4{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .footer_nav{
        padding-left: 0!important;
    }
    .footerNav{
        padding-left: 18px!important;
    }

}
@media (max-width: 600px){
    .container{
        max-width: 450px;
    }
    .footer_link{
        display: none;
    }
    .footer_info{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .copy_right{
        float: none;
        display: block;
    }
    .copy_content {
        float: none;
    }
    .search_screen{
        height: 280px;
    }
    .search_meta{
        font-size: 12px;
    }
    .friend_card{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 460px){
    .container{
        max-width: 350px;
    }
    .search_screen {
        height: 210px;
    }
    .search_more{
        display: none;
    }

}

@media (max-width: 360px) {
    .container{
        max-width: 300px;
    }

}