*{
    margin: 0;
    list-style: none;

}
.headerTools{
    padding: 15px 0;
    background: black;
    font-weight: 400;
    font-size: 14px;
    box-shadow: 0 2px 2px #d8d8d8;
}
.headerToolsTime{
    color:white;
    float: left;
}
.headerToolsNav{
    float: right;
}
.headerTools-Nav{

}
.headerTools-Nav>ul{
    margin-bottom: 0;
}
.headerTools-Nav>ul>li{
    float: left;
    padding-left:20px;
}
.headerTools-Nav>ul>li>a{
    color:white;
    text-decoration: none;
}
.Tools_container{
    padding: 0;
}
.header{
    padding: 10px 0;
    background: white;
    box-shadow: 0 2px 3px #d8d8d8;
}


.header_home_url:hover{
    text-decoration: none;
}
.header_logo>img{
    width: 50px;
    float: left;
}
.header_logo>span{
    padding-left: 10px;
    font-size: 20px;
    font-weight: 300;
    line-height: 48px;
    color: #5c5c5c;
}

.header_nav{
    float: right;
}
.headerNav{

}
.headerNav>ul>li{
    float: left;
    padding: 0 20px;
}
.headerNav>ul>li>a{
    color:grey;
}
.header_container{
    padding: 0;
}
.navbar{
    padding: 10px 0;
}
.form-control{
    background: #fafafb;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: .312rem 2.25rem .312rem .625rem;
    width: 100%;

    border-radius: .125rem;
    font-size: .875rem;
    line-height: 1.25rem;
    outline: none;
}
.form-control:focus{
    outline: none;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 0 ;
    background: #fafafb;
}
.form-submit{
    border: none;
    background: none;
    outline: none;
    color: #696969;
}

.form-submit:focus{

    outline: none;
}
@media (min-width: 2100px){
    .container {
        max-width: 80%;
    }
}