*{
    margin: 0;
    list-style: none;

}
.headerTools{
    padding: 15px 0;
    background: black;
    font-weight: 400;
    font-size: 14px;
    box-shadow: 0 2px 2px #d8d8d8;
}
.headerToolsTime{
    color:white;
    float: left;
}
.headerToolsNav{
    float: right;
}
.headerTools-Nav{

}
.headerTools-Nav>ul{
    margin-bottom: 0;
}
.headerTools-Nav>ul>li{
    float: left;
    padding-left:20px;
}
.headerTools-Nav>ul>li>a{
    color:white;
    text-decoration: none;
}
.Tools_container{
    padding: 0;
}
.header{
    padding: 10px 0;
    background: white;
    box-shadow: 2px 5px 18px 0 rgba(64, 87, 191, 0.07);
}


.header_home_url:hover{
    text-decoration: none;
}
.header_logo>img{
    width: 50px;
    float: left;
}
.header_logo>span{
    padding-left: 10px;
    font-size: 20px;
    font-weight: 300;
    line-height: 48px;
    color: #5c5c5c;
}

.header_nav{
    float: right;
}
.headerNav{

}
.headerNav>ul>li{
    float: left;
    padding: 0 20px;
}
.headerNav>ul>li>a{
    color:grey;
}
.header_container{
    padding: 0;
}
.navbar{
    padding: 10px 0;
}
.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}
.form-control{
    background: #fafafb;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: .312rem 2.25rem .312rem .625rem;
    width: 100%;
    border-radius: 0;
    font-size: .875rem;
    line-height: 1.25rem;
    outline: none;
}
.form-control:focus{
    outline: none;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 0 ;
    background: #fafafb;
}
.form-inline{
    background: black;
}
.form-submit{
    border: none;
    background: none;
    outline: none;
    color: #696969;
}

.form-submit:focus{

    outline: none;
}

.form-submit>i{
    color:white;
    font-size: 14px;
    padding: 4px;
}
.banner{
    margin-top: 20px;
    height: 600px;
    background-size: 100%!important;
    background-position: 0!important;
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 0;
}
.banner_content{
    height: 75%;
}
.banner_info{
    padding: 0;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.banner_info>img{
    width:100%;
    height:auto;
    transition: 1s;
    filter: grayscale(40%);
}
.banner_info>img:hover{
    width: 105%;
    height: auto;
    transition: .5s;
    filter: grayscale(0%);
}
.banner_title{
    position: absolute;
    color:white;
    bottom: 0;
    background: rgba(74, 74, 74, 0.51);
    width: 100%;
    padding: 20px;
    font-weight: 200;
    letter-spacing: 2px;
}
.search_header{
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    color:white;
    height: 200px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-size: 100%!important;
    background-position: 0!important;
}
.search_content{
    margin-top: 20px;
}
.search_screen{
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 2px 5px #d8d8d8;
}
.search_screen>img{
    width: 100%;
    height: auto;
    transition: .2s;
}
.search_screen>img:hover{
    width: 105%;
    height: auto;
    transition: .2s;
}
.search_page{
    position: absolute;
    bottom: 0;
    background: rgb(255, 255, 255);
    width: 100%;
}
.search_screen>a{
    position: absolute;
    bottom: 50px;
    font-size: 25px;
    padding: 20px;
    line-height: 35px;
    text-align: left;
    left: 0;
    color:white;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 1px;
}
.search_box{
    margin: 20px 0;
}
.search_meta{
    padding: 10px 15px;
    margin-bottom: 0;
    color:#748594;
    font-weight: 300;
    font-size: 14px;
}
.search_meta>i{
    padding: 0 5px;

}
.search_meta>a{
    color:#748594;
}
.search_more{
    float: right;
}
.search_more>i{
    padding: 0 5px;
}
.content{

}
.post_content{

}
.page_content_list{
    background: white;
    box-shadow: 0 2px 5px #d8d8d8;
    margin: 20px 0;
}
.content_page_list{
    padding: 0;
}

.post_list_screen{
    float: left;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0;
}
.post_list_screen>img{
    width: 100%;
    height: auto;
}
.post_list_screen>span{
    position: absolute;
    top:30px;
    left: 30px;
    color: #fff;
    background-color: rgba(39, 49, 73, .33);
    font-size: 14px;
    padding: 0.25rem 0.325rem;

}
.post_list_content{
    float: right;
}
@media (min-width: 2100px){
    .container {
        max-width: 70%;
    }
}
@media (max-width: 991px) {
    .headerNav>ul>li{
        float: none;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid rgba(216, 216, 216, 0.5);
    }
    .form-inline {
        background: none;
    }
    .headerNav>ul>li{

    }
    .form-inline .form-control{
        width: 100%;
        margin-top: 20px;
    }
    .form-submit{
        display: none;
    }
    .menu{
        padding: 0;
    }
}

@media (max-width: 600px){
    .container{
        max-width: 450px;
    }
}
@media (max-width: 460px){
    .container{
        max-width: 350px;
    }
}

@media (max-width: 360px) {
    .container{
        max-width: 300px;
    }

}